body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    /* Default background color */
    transition: background-color 0.3s ease;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.color-option {
    display: inline-block;
    margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.grey {
    background-color: #808080;
}

.yellow {
    background-color: #FFFF00;
}

.white {
    background-color: #FFFFFF;
}

.green {
    background-color: #008000;
}